<!-- begin post -->
{% assign author = site.authors[post.author] %}
<div class="col-md-6 mb-30px">
    <div class="listfeaturedtag h-100">
        <div class="row h-100">
            <div class="col-lg-5 col-md-12 pr-lg-0">
                <div class="h-100">
                    <div class="wrapthumbnail">
                        <a href="{{ post.url | absolute_url }}">
                            <span class="thumbnail d-block" style="background-image:url({% if post.image contains "://" %}{{ post.image }}{% else %}{{ post.image | absolute_url }}{% endif %});">
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="h-100 card-group">
                    <div class="card">
                        <div class="card-body">
                            <div class="wrapfooter">
                                <span class="post-date">{{ post.date | date_to_string }}</span>
                                <div class="clearfix"></div>
                            </div>
                            <h2 class="card-title"><a class="text-dark" href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
                            <h4 class="card-text">{{ post.excerpt | strip_html | truncatewords:25 }}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end post -->