---
title: "mentoring"
layout: landing
permalink: "/mentoring.html"
---

<div class="align-items-center full-height d-none d-md-flex" style="background-color: #f0f0f0">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-4">
				<img src="/assets/images/Me.png" class="d-block mx-lg-auto img-fluid rounded-circle" alt="Yuriy Bogomolov"
					width="300" height="300" loading="lazy" />
			</div>
			<div class="col-md-8 align-middle">
				<h2>Functional programming mentor</h1>
					<h1>Yuriy Bogomolov
				</h2>
				<p class="lead">
					Unlock your full potential in functional programming with personalised
					mentoring from an expert in TypeScript and fp-ts.
				</p>
				<a class="btn btn-lg btn-primary" href="https://forms.gle/c9vFpFd2iFZHk6PTA" target="_blank">Register for a
					session now</a>
			</div>
		</div>
	</div>
</div>

<div class="d-flex d-md-none full-height" style="background-color: #f0f0f0">
	<div class="container d-flex align-items-center">
		<div class="col-sm-12">
			<div class="row justify-content-center">
				<img src="/assets/images/Me.png" class="d-block mx-lg-auto img-fluid rounded-circle" alt="Yuriy Bogomolov"
					width="150" height="150" loading="lazy" />
			</div>
			<div class="row justify-content-center">
				<h4>Functional programming mentor</h4>
				<h2>Yuriy Bogomolov</h2>
				<p class="lead">
					Unlock your full potential in functional programming with personalised
					mentoring from an expert in TypeScript and fp-ts.
				</p>
				<a class="btn btn-lg btn-primary" href="https://forms.gle/c9vFpFd2iFZHk6PTA" target="_blank">Register for a
					session now</a>
			</div>
		</div>
	</div>
</div>

<div class="text-white"
	style="background-color: black; background-image: url(/assets/images/Me13_Square.jpg); background-repeat: no-repeat; background-position: right; background-size: contain; background-attachment: fixed;">
	<div style="background-color: rgba(0, 0, 0, 0.5);">
		<div class="container full-height" style="padding-top: 80px; padding-bottom: 80px;">
			<div class="row">
				<div class="col-md-8">
					<h3 class="display-2">About me</h3>

					<p class="lead">I am a programmer and a software architect passionate about functional
						programming, type theory and
						category theory.</p>
					<p class="lead">I blog about functional programming in TypeScript, perform mentoring of
						developers who would like to study
						practical FP, and provide consultancy and architecture review for enterprises.</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-8">
					<h3 class="display-4">Who do I work with?</h3>

					<p class="lead">I provide mentoring services to:</p>
					<ul class="lead">
						<li>
							<em>Beginners</em> — whether you have no experience with TypeScript, or seeking help from a professional
							during major career pivot point, I got you covered.
						</li>
						<li>
							<em>Middle and senior developers</em> — I can help streamlining your career path.
						</li>
						<li>
							<em>Team and tech leaders</em> — I can help you plan smooth transition to functional programming for your
							team and will guide you during its implementation in practice.
						</li>
					</ul>
				</div>
			</div>

			<div class="row">
				<div class="col-md-8">
					<h3 class="display-4">Why me?</h3>

					<p class="lead">
						I have delivered significant productivity gains and streamlined architectures for several organisations,
						proving that my methods yield results. With over 10 years implementing functional programming patterns in
						production, I continually refine my knowledge through teaching and research to maintain deep expertise.
					</p>
					<p class="lead">
						I provide personalised curriculum and adapt my teaching style based on each student's goals, optimising
						their learning through a tailored education. My fundamental mindset is to develop students' solid basics
						through functional principles, building skills that generalise across frameworks.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="mentoringPrograms" class="container full-height" style="padding-top: 80px;">
	<h1>Mentoring programs</h1>

	<div class="offset-block">
		<h3>One-Time Consultation</h3>
		<p>A laser-focused hour to get past functional programming roadblocks keeping you from progress. I'll ask clarifying
			questions and provide examples from my years experience, while you identify the specific next steps that work best
			for you. Whether you're stuck on a complex concept, struggling with performance issues or unsure how to apply FP
			in a real project, we'll develop 1-3 action items tailored to your unique situation and goals. You'll leave
			motivated to implement them on your own terms.</p>
		<ul></ul>
		<p>Duration: <strong>50 minutes</strong></p>
		<p>Price: <strong>80€</strong></p>
		<a class="btn btn-lg btn-primary" href="https://calendly.com/yuriy-bogomolov" role="button" class="btn btn-primary"
			target="_blank">Book a session →</a>
	</div>

	<div class="offset-block">
		<h3>Architect Mentoring Program</h3>
		<p>Master Node.js, functional programming and architectural best practices - the in-demand skills that top companies
			need. Through this intensive mentorship program, your skills and portfolio will grow to impress even the most
			selective hiring managers.</p>

		<div class="card" id="architectProgramAccordion">
			<div class="card-header" id="heading1">
				<h2 class="mb-0">
					<button class="btn btn-link btn-block text-left accordion-button collapsed" type="button"
						data-toggle="collapse" data-target="#architectCollapse1">Program details</button>
				</h2>
			</div>
			<div id="architectCollapse1" class="collapse" data-parent="#architectProgramAccordion">
				<div class="card-body">
					<p>Key lessons you will learn:</p>
					<ul>
						<li>Node.js fundamentals: events, streams, asynchronous programming and performance optimisation.</li>
						<li>Building scalable backend services using Express, Koa, Fastify, and clustering.</li>
						<li>Relational, non-relational databases, and event queues to handle large data loads.</li>
						<li>The theory behind architectural styles like SOA, microservices, and event-driven design.</li>
						<li>Applying architectural patterns like CQRS, hexagonal architecture, and DDD in practice.</li>
						<li>Tools for monitoring, tracing and optimising distributed systems at scale.</li>
						<li>Designing data access layers based on established patterns.</li>
					</ul>
					<p>You will emerge with the in-demand expertise to:</p>
					<ul>
						<li>Evaluate technical requirements and trade-offs from an architect's perspective.</li>
						<li>Properly structure large TypeScript applications using SOLID principles and functional programming.
						</li>
						<li>Design scalable, fault-tolerant Node.js backend services to fulfil business needs.</li>
						<li>Implement architectural patterns and best practices learned from real-world case studies.</li>
					</ul>
					<p>During this course, I will provide you with materials for self-study and home tasks, and during our 1-1
						sessions
						I will answer your questions and provide you with additional explanations of the most complex topics. This
						intensive yet personalised program combines theory with hands-on challenges and mentoring. By investing in
						your future now, you'll launch your architecture career into its next growth phase.</p>
				</div>
			</div>
		</div>
		<br />
		<p class="lead">Don't delay - contact me today to discuss how we can get you there. I look forward to helping you
			build the expertise that top companies are searching for.</p>
		<p>Duration: <strong>20 sessions, 50 minutes/session</strong></p>
		<p>Price: <strong>1000€</strong></p>
		<a class="btn btn-lg btn-primary" href="https://forms.gle/c9vFpFd2iFZHk6PTA" target="_blank">Become an
			architect →</a>
	</div>

	<h1>Courses</h1>

	<div class="offset-block">
		<h3>Functional Programming using TypeScript</h3>

		<p class="lead">Level up your TypeScript skills through a structured progression in functional programming.</p>
		<p>This intensive, practical course will transform the way you think about and write TypeScript code. Through live
			online classes and hands-on projects, you'll learn how functional programming techniques can improve the
			maintainability, scalability and resilience of your applications.</p>
		<p>By the end, you'll be able to:</p>
		<ul>
			<li>Leverage the full potential of the TypeScript language through functional techniques.</li>
			<li>Analyse any problem and design an appropriate, type-safe functional solution.</li>
			<li>Build highly maintainable, testable TypeScript applications that scale easily.</li>
			<li>Spot code smells and refactor object-oriented TypeScript to a functional style.</li>
		</ul>

		<h4>Course structure:</h4>

		<div class="accordion" id="fpCourseModulesAccordion">
			<div class="card">
				<div class="card-header" id="heading1">
					<h2 class="mb-0">
						<button class="btn btn-link btn-block text-left accordion-button collapsed" type="button"
							data-toggle="collapse" data-target="#moduleCollapse1">
							Module 1: Advanced TypeScript and Data Modeling
						</button>
					</h2>
				</div>
				<div id="moduleCollapse1" class="collapse" data-parent="#fpCourseModulesAccordion">
					<div class="card-body">
						<p>Strengthen your TypeScript fundamentals — dive deep into TypeScript's powerful type system and teaches
							techniques for modeling complex data structures. In this module, we cover the topics of branded/opaque
							types, type narrowing, algebraic data types, template literal types, and much more.</p>
						<p class="lead">You'll learn to catch mistakes earlier and write more robust code.</p>
						<p>Duration: <strong>4 weeks + project (1-2 weeks)</strong></p>
						<p>Price: <strong>170€</strong></p>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header" id="heading2">
					<h2 class="mb-0">
						<button class="btn btn-link btn-block text-left accordion-button collapsed" type="button"
							data-toggle="collapse" data-target="#moduleCollapse2">
							Module 2: Functional Programming "At Small"
						</button>
					</h2>
				</div>
				<div id="moduleCollapse2" class="collapse" data-parent="#fpCourseModulesAccordion">
					<div class="card-body">
						<p>In this module, you will begin working with <a href="https://gcanti.github.io/fp-ts/"
								target="_blank">fp-ts</a> library, and will get familiar with topics such as function and data
							properties
							(immutability, purity,
							referential transparency), begin building mindset for local reasoning, and learn functional programming
							concepts for safe work with nullable values, exceptions, and dependencies.</p>
						<p class="lead">You'll start thinking like a functional programmer.</p>
						<p>Duration: <strong>5 weeks + project (1-2 weeks)</strong></p>
						<p>Price: <strong>250€</strong></p>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header" id="heading3">
					<h2 class="mb-0">
						<button class="btn btn-link btn-block text-left accordion-button collapsed" type="button"
							data-toggle="collapse" data-target="#moduleCollapse3">
							Module 3: Functional Programming "At Large"
						</button>
					</h2>
				</div>
				<div id="moduleCollapse3" class="collapse" data-parent="#fpCourseModulesAccordion">
					<div class="card-body">
						<p>In this module, we dive deeply into patterns that are widely used in the functional programming. We learn
							about functors, monads, foldables and traversables, and functional optics. Also, we will talk about
							property-based testing to ensure that algebraic properties hold for your code. In the end of this module,
							we
							will return to the topic of functional data modeling, and will talk about <a
								href="https://gcanti.github.io/io-ts/">io-ts</a>, <a href="https://zod.dev">zod</a>, and <a
								href="https://github.com/sinclairzx81/typebox">typebox</a>.
						</p>
						<p class="lead">As a result, you'll be able to apply algebraically-sound techniques to build large,
							maintainable
							TypeScript code.</p>
						<p>Duration: <strong>6 weeks + project (1-2 weeks)</strong></p>
						<p>Price: <strong>350€</strong></p>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header" id="heading4">
					<h2 class="mb-0">
						<button class="btn btn-link btn-block text-left accordion-button collapsed" type="button"
							data-toggle="collapse" data-target="#moduleCollapse4">
							Module 4: Functional Architecture
						</button>
					</h2>
				</div>
				<div id="moduleCollapse4" class="collapse" data-parent="#fpCourseModulesAccordion">
					<div class="card-body">
						<p>This module deals with the most complex topics that you can encounter in the wild. We will talk about
							embedded domain-specific languages (eDSLs) and their implementation using Tagless Final and Free/Freer
							Monad
							patterns. You will learn about monad transformers and write a couple of your own transformers. We will
							talk
							about the "Making Illegal States Unrepresentable" principle in great detail, and will work with indexed
							monads. Finally, we will talk about software design in functional way, and will make use of Hexagonal
							Architecture.</p>
						<p class="lead">You'll be equipped to design highly scalable FP systems.</p>
						<p>Duration: <strong>7 weeks + project (1-2 weeks)</strong></p>
						<p>Price: <strong>500€</strong></p>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header" id="heading5">
					<h2 class="mb-0">
						<button class="btn btn-link btn-block text-left accordion-button collapsed" type="button"
							data-toggle="collapse" data-target="#moduleCollapse5">
							Optional module: Dependently-Typed Languages and Automatic Theorem Proving
						</button>
					</h2>
				</div>
				<div id="moduleCollapse5" class="collapse" data-parent="#fpCourseModulesAccordion">
					<div class="card-body">
						<p>A pinnacle of functional programming — using programming to automatically prove mathematical theorems. In
							this module, we will take a quick look at <a href="https://leanprover.github.io">Lean 4</a> programming
							language and its powerful <code>mathlib</code> package.
						</p>
						<p class="lead">This optional module crosses into advanced mathematics by leveraging programs to prove
							theorems automatically — peeking into the future of FP.</p>
						<p>Duration: <strong>2 weeks</strong></p>
						<p>Price: <strong>200€</strong></p>
					</div>
				</div>
			</div>
		</div>

		<br />
		<p class="lead">Although I recommend studying the modules one by one, you can mix and match — e.g., skip the first
			two modules if you feel you're well-versed in advanced TypeScript and basics of FP, and continue your journey
			from the module 3 onwards. The choice is yours!</p>

		<a class="btn btn-lg btn-primary" href="https://forms.gle/c9vFpFd2iFZHk6PTA" target="_blank">Register for a
			course →</a>
	</div>